.cartItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 250px;
  padding: 0 30px;
}

.cartItem__image {
  width: 180px;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}